* {
	font-family: JetBrains Mono;
	font-size: 14px;
}

window#waybar {
	background: transparent;
	border: none;
	color: #fbf1c7;
}

#workspaces button {
	padding: 0 5px;
	color: #fbf1c7;
	text-shadow: none;
	border: none;
	border-radius: 0;
}

#workspaces button:hover{
	background: #504945;
	text-shadow: none;
	border: none;
	box-shadow: none;
}

#workspaces button.active{
	background: #504945;
}

#custom-playerctl{
	color: #689d6a;
	margin-left: 10px;
}

#pulseaudio{
	color: #d79921;
}

#network{
	color: #458588;
	margin-left: 10px;
}

#custom-power{
	color: #cc241d;
	margin-left: 10px;
	margin-right: 10px;
}

tooltip{
	background: #282828;
	border: 1px solid #3c3836;
}
